@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Russo+One&display=swap");
* {
  box-sizing: border-box;
}
html {
  background-image: url("./pics/stars.gif");
  background-repeat: repeat;
}
.App {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  height: 100%;
  box-shadow: inset 6px 189px 53px 11px rgba(0, 0, 0, 0.75);
}
